@tailwind base;
@tailwind components;
@tailwind utilities;


/* Carousel servicios */
 swiper {
  @apply w-full h-full
}

.swiper-slide {
  @apply text-center text-lg bg-transparent flex justify-center items-center
}

.swiper-slide img {
  @apply block w-full object-cover
}

.swiper-button-next,
.swiper-button-prev {
  @apply absolute z-10 bg-white p-8 rounded-[50%] shadow-md shadow-gray-400 
}

@media screen and (min-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 1rem;
  }
}

@media screen and (min-width: 780px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 1.5rem;
  }
}
.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

/*Carousel inicio*/ 
/*.inicio .swiper {
  width: 100%;
  max-height: 100%;
}

.inicio .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio .swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
*/
/*Transicion de componentes en turnos*/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

/*Menu Hamburguesa Animado*/

.bars__menu{
  @apply w-[30px] h-[30px] cursor-pointer  
}

.bars__menu span{
  @apply block w-full h-[2px] bg-yellow-300 shadow-sm shadow-yellow-300 mt-[6px] origin-bottom-left  transition-all duration-500
} 
.bars__menu .line1__bars-menu{
  @apply rotate-45 translate-x-[-2px] translate-y-[-3px]   
} 
.bars__menu .line2__bars-menu{
  @apply ml-[-30px] opacity-0
} 
.bars__menu .line3__bars-menu{
  @apply rotate-[-45deg] translate-x-[-2px] translate-y-[2px]
}  
 
.icons__menu {
  @apply flex justify-center items-center  rounded-full shadow-lg shadow-yellow-400 text-yellow-400 text-2xl  h-12 w-12  cursor-pointer  ease-in duration-300 hover:bg-yellow-400 hover:text-black hover:shadow-black
}